.h3{
 padding: 5px;
 margin: 5px;
}
.accountPage{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}
.personalInformation, .contactInformation, .bankAccountInformation{
    margin-top: 5px;
    display:flex;
    flex-direction: column;;
    width: 30%;
    height: 90%;
    background-color: teal;
    /* align-items: center; */
    /* justify-content: center; */
}
.label, .text{
    display: flex;
    padding: 5px;
    margin: 10px;
    width: 90%;
}
.btns{
    display:flex;
    justify-content: center;
    padding: 5px;
    margin:5px;
}