.accountPage{
    display: flex;
    width: 100%; 
}
.userInformation{
    display: flex;
    width: 70%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
}
.personalInformation, .contactInformation, .bankAccountInformation{
    margin: 5px;
    display:flex;
    flex-direction: column;
    width: 80%;
    background-color: rgb(214, 221, 221);
    border-radius: 5px;
    box-shadow: 2px beige;
    /* align-items: center; */
    /* justify-content: center; */
}
.h3{
    display: flex;
    justify-content: center;
}
.label, .text{
    display: flex;
    padding: 5px;
    margin: 10px;
    width: 90%;
}
.btns{
    display:flex;
    justify-content: center;
    padding: 5px;
    margin:5px;
}
.region{
    display: flex;
    justify-content: flex-start;
}
.regionLabel, .regionText{
    display: flex;
    padding: 5px 10px;
    margin: 5px 10px;
}
.userProfile{
    display: flex;
    width: 30%;
    height: 25%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(214, 221, 221);
    border-radius: 5px;
    padding: 5px 2px;
    margin: 2px 2px;
}
.userImage{
    display: flex;
    width: 180px;
    height: 180px;
    border-radius: 180px;
}
.userImageUpload{
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    top:0;
    right:0;
    z-index: -10;
    background-color: rgba(77, 77, 77, 0.836);
}
.userImageUpload.active{
    z-index: 100;
}
.userName
{
    display: flex;
    font-size: xx-large;
}
.userFirstName{
    display: flex;
    align-items: flex-end;
    padding: 2px;
    border-style: none;
}
.userLastName{
    display: flex;
    align-items: ;
    padding: 2px;
    border-style: none;
}
.userEmail{
    display: flex;
    align-items: center;
    padding: 2px;
    border-style: none;
    font-size: larger;
}