.App{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 100px 50px;
    box-shadow: 0px 1px 10px #555 ;
    width: 400px;
}
form{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

h1{
    text-align: center;
    width: 100%;
    color: black;
    font-weight: lighter;
}
label{
    font-size: 0.8em;
    margin-bottom: 0.25em;
    color: #222;
    font-weight: lighter;
}
input{
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #cfcfcf;
}
button{
    background-color: #1a73e8;
    color: white;
    border-color: white;
    padding: 1em;
    font-weight: bolder;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

}
input::placeholder{
    font-size:1.2em ;
    font-weight:lighter ;
    color:#999 ;
}
input.error{
    border: 1px solid red;
}

.errorMessage{
    color: red;
    font-size: 0.75em;
    display:relative;
}
.firstname{
    margin-right: 1%;
}
.lastname{
    margin-left: 1%;
}
.firstname,
.lastname,
.email,
.confirm,
.password{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.firstname,
.lastname{
    width: 49%;
}

.email{
    width: 100%;
}

.password,
.confirm{
    width: 49%;
}

.password{
    margin-right: 1%;
}
.confirm{
    margin-left: 1%;
}

.signup{
    width: 100%;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* background-color: #1a73e8; */
    padding: 1em;
    justify-content: center;
    align-items: center;
}
small{
    padding: 1em;
    color: #1976d2;
    align-items: center;
    justify-content: center;
}

