.App {
  text-align: center;
}

.mainDiv {
  background-color: whitesmoke;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

.leftDiv {
  height: 90%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logInRightDiv {
  background-color: white;
  padding: 2%;
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logIn{
  background-color: white;
  padding: 2%;
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

/* .img{
  height: 80vh;
  width:55vw;
  display:flex;

} */

.h1{
    color: rgb(236, 124, 18);
    font-size: 5vh;
    font-weight: bold;
    display: flex;
}

.logInText{
  padding: 5%;
  margin: 5%;
  display: flex;
}

.btns{
  margin: 1%;
  display: flex;
}

.btn{
  padding: 1%;
  margin: 2%;
  display:flex;
}

.btn:hover{
  background-color: #4eca73; 
}